/* Fondo degradado como la imagen */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;


  background-image: 
    radial-gradient(circle at center top, rgba(114, 0, 255, 0.6) 0%, transparent 70%),
    linear-gradient(180deg, #2a0144 0%, #3a0266 50%, #4b0186 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* que personalizaremos  y lo dejamos trasparente para que adote el color del fondo  */
.mi-navbar {
  background-color: transparent;
}

/* el estilo de las petañas */
.nav-pills .nav-link {/* le daremos estilo a las letras de las pestañas y color */
  color: #ccc;/*color de las letras */
  border-radius: 20px;/* para darle bordes redondos */
  font-weight: bold;
}

.nav-pills .nav-link.active {/* cuando este seleccionada una petaña con esto le indicamos que sea de color azul y que sus letras sean negras */
  background-color: #00cfff; 
  color: #000;
}

/* le damos estilo a las tarjetas */
.custom-card {
  background-color: #1a1a2e; /* el color del fondo de la tarjeta */
  border: none; /* el borde*/
  border-radius: 12px;/* cuanto vamos a redondear la tarjeta */
  color: white;/* color del titulo de la publicacion */
}

.card-title {
  font-weight: bold;
}

/* Ajuste de texto */
.card-text {
  font-size: 14px;
}

h2 {
  font-weight: bold;
}
.img-top{
  border-radius: 12px;
}